.features-list h3 {
font-size: 20px;
color: #2e2f42;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.features-list p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list li {
    flex-basis: 264px;
}